<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-2">

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<div class="container text-center">
							<img src="" style="width: 80px;" th:src="@{/img/profile.png}"
								alt=""></img>
						</div>
						<h1 class="text-center">Register Here!!</h1>
						<form novalidate action="" th:action="@{/do_register}" method="post"
							th:object="${user}">

							<!-- Name field -->
							<div class="form-group">
								<label for="name_field">Your Name:</label> <input type="text"
									class="form-control " id="name_field" th:value="${user.name}"
									aria-describedby="nameHelp" name="name"
									placeholder="Enter here" th:classappend="${#fields.hasErrors('name')? 'is-invalid' :''}"
									
									 required>

								<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
								</div>

							</div>
							<br>


							<!-- Email field -->
							<div class="form-group">
								<label for="email_field">Your Email:</label> <input type="text"
									class="form-control" name="email" id="email_field"
									th:value="${user.email}" aria-describedby="nameHelp"
									placeholder="Enter here" th:classappend="${#fields.hasErrors('email')? 'is-invalid' :''}" required>
							
								<div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}">
								</div>
							
							</div>
							<br>
							<!-- Passowrd field -->
							<div class="form-group">
								<label for="passowrd_field">Your Passowrd:</label> <input
									type="password" name="password" class="form-control"
									id="password_field" aria-describedby="nameHelp"
									placeholder="Enter here"  th:classappend="${#fields.hasErrors('password')? 'is-invalid' :''}" required>
                               
                               	<div class="invalid-feedback" th:each="e:${#fields.errors('password')}" th:text="${e}">
								</div>

							</div>
							<br>



							<!-- User about field -->
							<div class="form--group">
								<textarea placeholder="Enter something yourself" rows="6"
									class="form-control" name="about" th.value="${user.about}" th:classappend="${#fields.hasErrors('about')? 'is-invalid' :''}"
									required></textarea>
									
									 	<div class="invalid-feedback" th:each="e:${#fields.errors('about')}" th:text="${e}">
								</div>

							</div>
							<br>

							<!-- Terms and Conditions -->
							<div class="form-group form-check">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="terms">Accept terms and
									conditions</label>
							</div>


							<div class="container text-center">
								<button type="submit"
									class="btn bg-primary btn-block text-white">SUBMIT</button>

								<button type="reset" class="btn bg-warning btn-block">
									RESET</button>

							</div>

						</form>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html>